.form-label{
    font-size: 1.1rem;
    font-weight: 100;
}
.valid-feedback{
    font-size: 1.1rem;
    font-weight: 100;
    font-size:small;
}
.alternate-link{
        font-size: 1.1rem;
        font-weight: 100;
        font-size:small;
}